<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="index.css" rel="stylesheet"> <!-- Create a CSS file for styling -->
    <title></title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body style="background: #34373b">


<br>
<br>

<div class="content">

    <div class="main-content">

        <div class="page-content" style="margin-left:100px;width: 500px;">
            <div class="container-fluid">
                <section><h3 align="center" style="color: white;"><br>Simple Parking Management System</h3></section>
<br>
                <div class="card">

                    <div class="card-body">
                        <h5 align="center">
                            <svg class="bi bi-box-arrow-in-right" fill="currentColor" height="16" viewBox="0 0 16 16"
                                 width="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
                                      fill-rule="evenodd"/>
                                <path d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                                      fill-rule="evenodd"/>
                            </svg>
                            &nbsp Admin Login
                        </h5>
                        <br>
                       <form action="{% url 'login' %}" method="post">
  {% csrf_token %}
    <label class="form-label" for="inputUsername">Username</label>
    <input name="username" class="form-control" id="inputUsername" type="text" required>
    <label class="form-label" for="inputPassword">Password</label>
    <input name="password" class="form-control" id="inputPassword" type="password" required>
    <br>
    <div class="d-grid gap-2 col-12 mx-auto">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<style>
body {
  display: flex;


  height: 100vh;
  margin: 200px;
  margin-left:350px;
  position:fixed;
  margin-top:20px;
}

.card {
  align:center
  width: 350px;
  height: 400px;
  background-color: ; /* Card background color */
  transition: transform 0.3s ease-in-out; /* Smooth transition for animation */
}




</style>
</html>
