body {
  display: flex;


  height: 100vh;
  margin: 0;
}

.card {
  width: 350px;
  height: 100px;
  background-color: ; /* Card background color */
  transition: transform 0.3s ease-in-out; /* Smooth transition for animation */
}

.card:hover {
  transform: scale(1.1); /* Scale up the card on hover */
}