{% extends 'base.html' %}

{% block content %}

<div class="content">
    <div class="main-content">

        <div class="page-content" style="margin-left:60px;">
            <div class="container-fluid">

                <div class="card">
                    <div class="card-header">


                        <i aria-hidden="true" class="fa fa-cog"></i>Manage Vehicle
                    </div>
                   <div class="card-body">
                            <br>


                            <table id="example"  class="table table-striped table-bordered"  style="width: 1070px;margin-right:10px;">
                                <thead class="table" class="text-center"
                                       style="background-color: #132649; color:white;">
                                <tr class="text-center">
                                    <th scope="col">#</th>
                                    <th scope="col">Vehicle Number</th>
                                    <th scope="col">Area Number</th>
                                    <th scope="col">Arrivel Time</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody align="center" class="list form-check-all">
                                <tr>

                                    {% for v in vehicle_entry_data %}
                                    <td scope="row">{{ forloop.counter }}</td>
                                    <td>{{ v.vehicle_no }}</td>
                                    <td>{{ v.parking_area_no }}</td>

                                    <td >{{ v.arrival_time }}</td>
                                    <td>
                                    <form action="{% url 'togglestatus' v.id %}" method="post">
    {% csrf_token %}
    <button class="btn btn-sm {% if v.status %}btn-success{% else %}btn-primary{% endif %}" type="submit">
        {% if v.status %}Leaved{% else %}Parked{% endif %}
    </button>
</form>
                                    </td>
                                    <td>
                                        <a > <button class="btn btn-outline-primary" type="button">Receipt</button></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            <div class="row m-5 justify-content-between">
                                <div class="col-md-6 text-left">
                                    <!-- Showing results -->

                                </div>


                            </div>
                        </div>
                    <br>

                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function(){
	$('#example').DataTable();
});
</script>

{% endblock %}